<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TTgSysRoleinfo">
	<!-- 查询角色信息 -->
	<select id="selectTTgSysRoleinfoByModel" parameterType="TTgSysRoleinfo"
		resultType="TTgSysRoleinfo">
		select * from t_tg_sys_roleinfo where 1 = 1
		<if test="id != null">
			and id = #{id} 
		</if>
		<if test="rolename != null">
			and rolename = #{rolename} 
		</if>
	</select>

	<!-- 新增角色信息 -->
	<insert id="insertTTgSysRoleinfoByModel" parameterType="TTgSysRoleinfo"
		useGeneratedKeys="true" keyProperty="id">
		insert into t_tg_sys_roleinfo (rolename,roledesc,optuserid,optusername,optdate)
		values (#{rolename},#{roledesc},#{optuserid},#{optusername},#{optdate})
	</insert>

	<!-- 修改角色信息 -->
	<update id="updateTTgSysRoleinfoByModel" parameterType="TTgSysRoleinfo">
		update t_tg_sys_roleinfo
		<trim prefix="set" suffixOverrides=",">
			<if test="rolename != null">
				rolename = #{rolename}, 
			</if>
			<if test="roledesc != null">
				roledesc = #{roledesc}, 
			</if>
			<if test="optuserid != null">
				optuserid = #{optuserid}, 
			</if>
			<if test="optusername != null">
				optusername = #{optusername}, 
			</if>
			<if test="optdate != null">
				optdate = #{optdate}, 
			</if>
		</trim>
		where 1 = 1
		<if test="id != null">
			and id = #{id} 
		</if>
	</update>

	<!-- 删除角色信息 -->
	<delete id="deleteTTgSysRoleinfoByModel" parameterType="TTgSysRoleinfo">
		delete from t_tg_sys_roleinfo
		where 1 = 1
		<if test="id != null">
			and id = #{id} 
		</if>
	</delete>
	
	<!-- 查询角色信息分页列表 -->
	<select id="selectTTgSysRoleinfo_list_page" parameterType="TTgSysRoleinfo" resultType="java.util.HashMap">
		select * from t_tg_sys_roleinfo 
		where 1 = 1 
		limit #{start},#{end}
	</select>
	
	<select id="selectTTgSysRoleinfo_list_page_count" parameterType="TTgSysRoleinfo" resultType="Integer">
		select count(*) from t_tg_sys_roleinfo  
		where 1 = 1 
	</select>
</mapper>