@charset "utf-8";
input.txt{ width:200px; height:26px; line-height:26px; padding:0px 6px; border:1px #CCCCCC solid; box-shadow:1px 1px 1px 0px rgba(0, 0, 0, 0.1) inset}
input.w1{ width:268px;}
input.w2{ width:540px;}
input.w3{ width:90px;}
.wei_btn{ background:#fafafa; padding-left:194px;}
.add_go{ margin-left:124px;}